<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
      <div class="header-wrapper">
        <div class="app-title"><a href="/show">Bootfinds</a></div>
        <div class="buttons">
          <form action="/myposts">
            <button class="myposts" type="submit">Myboots</button>
          </form>
          <form action="/logout?_method=DELETE" method="POST">
            <button class="logout-btn" type="submit">Log Out</button>
          </form>
        </div>
      </div>
      <div class="grid-wrapper">
        <nav class="nav-wrapper">
            <div class="search">
                <h3>Search</h3>
                <input type="text" placeholder="I'm looking for..."/>
            </div>
            <div class="location">
                <h3>Location</h3>
                <input type="text" placeholder="Australia..."/>
            </div>
            <div class="categories">
                <h3>Categories</h3>
                <div><a href="/show/art">Art, Collectibiles</a></div>
                <div><a href="/show/baby">Baby, Kids</a></div>
                <div><a href="/show/books">Books, Music and Games</a></div>
                <div><a href="/show/car">Cars, Vehicles</a></div>
                <div><a href="/show/clothing">Clothing</a></div>
                <div><a href="/show/electronic">Electronics</a></div>
                <div><a href="/show/furniture">Furnitures</a></div>
                <div><a href="/show/sport">Sport gear</a></div>
            </div>
        </nav>
        <div class="content-wrapper">
            <h1 class="show-h1">Item details</h1>
            <div class="item-wrapper">
                <div class = "item-box">
                    <a href="/items/<%= item.id %>" style="background-image:url(<%= item.image_url%>);"></a>
                    <div class="copy-wrapper">
                        <h3><%= item.item_name %></h3>
                        <p> <span>Seller contact</span><br /> <%= item.email %></p>
                        <p><span>Item type</span><br /> <%= item.item_type %></p>
                        <p><span>Quantity</span><br /> <%= item.quantity %></p>
                        <p><span>$</span><%= item.price %></p>
                        <p><span>Item details</span><br /> <%= item.item_detail %></p>
                        <p><span>Location</span><br /> <%= item.address_suburb %>  <%= item.address_state %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <p>&copy; Bootfinds Hayley 2020 project4</p>
    </div>
</body>
</html>